<p id="notice"><%= notice %></p>

<%= render 'form', timetable_major: @timetable_major %>
<%= link_to '수정', edit_timetable_major_path(@timetable_major) %> |
<%= link_to '뒤로가기', timetable_majors_path %>
