<div class="buildings">
  <% @buildings.each_with_index do |b, i| %>
    <%= link_to "/search/find_by_building/#{b.number}" do %>
      <button class="ui basic button big <%= ui_color(i) %>">
        <%= b.number %>
      </button>
    <% end %>
  <% end %>
</div>
