<% @floors.each do |k, v| %>
  <%= link_to "/search/find_by_building/#{@building.number}/#{k.to_s}" , class: 'floors' do %>
    <%# next if v == 0 %>
    <% if k.to_i < 0 %>
        <% @f = 'B' + k.to_s.split('-')[1] %>
    <% elsif k.to_i == 0 %>
        <% next %>
    <% else %>
        <% @f = k + '층' %>
    <% end %>
    <button class="ui basic button<%= ' secondary' if v %>"><%= @f %></button>
  <% end %>
<% end %>