<!-- <%= render 'layouts/beta_notice' %> -->
<div class="index_bg">

  <div class="container-2">

    <div class="main-visual-wrapper">

    <div class="main-copy">
      현재 위치에서 가장 가까운<br>
      빈 강의실을 찾아보세요
    </div>

    <div class="search">

      <div class="building">

      <p style="font-weight:bold;">건물명</p>

      <select class="ui search dropdown" style="width:13vw; height: 5vh;">
        <option value="">State</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
      </select>

      </div>

      <div class="floor">

      <p style="font-weight:bold;">층 수</p>

      <select class="ui search dropdown" style="width:13vw; height: 5vh;">
        <option value="">State</option>
        <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
      </select>

      </div>

      <a href="#" id="search_btn">검색하기</a>

    </div>



      <p class="detail_search">
        <a href="#"> 상세 검색 옵션 > </a>

      </p>

  </div>

</div>