<p id="notice"><%= notice %></p>

<%= render 'form', timetable_normal: @timetable_normal %>
<%= link_to '수정', edit_timetable_normal_path(@timetable_normal) %> |
<%= link_to '뒤로가기', timetable_normals_path %>
