<div class="table-div">
  <% if @rooms.empty? %>
  <p class='center'>정보가 없어요</p>
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>동</th>
        <th>호</th>
        <th>관리부서</th>
      </tr>
    </thead>
    <tbody>
      <% @p_rooms.each do |r| %>
      <tr>
        <td><%= r.building.number %></td>
        <td><%= r.loc %></td>
        <td><%= r.department.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <%= paginate @p_rooms %>
</div>