@import "semantic-ui";
body.body {
  margin: 0 0;
}
div.color-bar {
  display: flex;
  div {
    height: 10px;
  }
  div:nth-child(1) {width: 20%; background-color: red;}
  div:nth-child(2) {width: 10%; background-color: blue;}
  div:nth-child(3) {width: 30%; background-color: blueviolet;}
  div:nth-child(4) {width: 25%; background-color: yellowgreen;}
  div:nth-child(5) {width: 15%; background-color: yellow;}
  div:nth-child(6) {width: 20%; background-color: skyblue;}
}
div.small-color-bar {
  div {
    height: 4px;
  }
  div:nth-child(1) {width: 20px; background-color: red;}
  div:nth-child(2) {width: 10px; background-color: blue;}
  div:nth-child(3) {width: 30px; background-color: blueviolet;}
  div:nth-child(4) {width: 25px; background-color: yellowgreen;}
  div:nth-child(5) {width: 15px; background-color: yellow;}
  div:nth-child(6) {width: 20px; background-color: skyblue;}
}
header.main-header {
  //position: fixed;
  background-color: #fafafa;

  width: 100%;
  padding: 1.5em 0;

  display: flex;
  justify-content: space-between;
  div.main-box-third {
    width: 33.3%;
    padding: 0 1em;
  }
  div.log-stat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  div.box-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.func {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
div.box-logo {
  h1 {
    margin: 0 0;
    line-height: 1.0;
  }
  a {
    display: flex;
    justify-content: center;
  }
  p {
    align-self: flex-end;
  }
}
p.version {
  margin: 0 0;
}
ul.log-stat {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none;
  width: 100px;

  display: flex;
  flex-flow: column wrap;
  li {
    display: flex;
  }
}
ul.nav-ul {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none;
}
div.blue-bar {
  background-color: #619bf9;
  height: 2em;
  padding: 0 0.5em;

  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  p {
    margin: 0 0;
  }
  i {
    margin: 0 3px;
  }
}
a.icon-label {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}
div.beta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  p {
    margin: 0;
    padding: 1em 1em;
  }
}
